% rebase('osnovna.html', naslov=naslov)

<h2>Čestitke ob novem osvojenem hribčku!</h2>

<div class="form-row">
    <div class="col-4">
        <form method="post">

            <div class="form-group">
                <label for="gorovje">Izberi goro</label>
                <select class="form-control" id="dodaj_osvojen_hrib" name="dodaj_osvojen_hrib" required>
                    %for gora in gore:
                    <option>{{gora}}</option>
                    %end
                </select>
            </div>

            <div class="col-4">
                <button type="submit" class="btn btn-primary">Dodaj</button>
            </div>
        </form>
    </div>
</div>