%rebase('osnovna.html', naslov='Dodaj goro')

<h2>Dodaj hribček</h2>
<div class="form-row">
    <div class="col-4">
        <form method="post">
            <div class="form-group">
                <label>Ime</label>
                <input id="ime_gore" name="ime_gore" type="text" class="form-control" placeholder="Ime hribčka..." required
                oninput="this.setCustomValidity('')"
                oninvalid="this.setCustomValidity('Obvezno polje')">>
            </div>

            <div class="form-group">
                <label>Višina</label>
                <input id="visina" name="visina" type="text" class="form-control" placeholder="Višina hribčka..." required
                oninput="this.setCustomValidity('')"
                oninvalid="this.setCustomValidity('Obvezno polje')">>
            </div>

            <div class="form-group">
                <label>Prvi pristop</label>
                <input id="prvi_pristop" name="prvi_pristop" type="text" class="form-control" placeholder="Prvi pristop...">
            </div>

            <div class="col-4">
                <button type="submit" class="btn btn-primary">Dodaj goro</button>
            </div>
        </form>
    </div>
</div>


<a href="{{ROOT}}gore">Nazaj na gore</a>