%setdefault('user', True)
%rebase('osnovna.html', naslov=naslov)

<form method="POST"  class="form d-flex justify-content-center">
    <div class="col-5 justify-content-center">
        <h2>Dodaj goro</h2>
        <div class="form-group">
            <label>Ime (Pisano z veliko začetnico)</label>
            <input id="ime_gore" name="ime_gore" type="text" class="form-control" placeholder="Ime gore..." required
                oninput="this.setCustomValidity('')"
                oninvalid="this.setCustomValidity('Obvezno polje')">
            </div>

            <div class="form-group">
                <label>Višina (V metrih)</label>
                <input id="visina" name="visina" type="text" class="form-control" placeholder="Višina gore..." required
                oninput="this.setCustomValidity('')"
                oninvalid="this.setCustomValidity('Obvezno polje')">
            </div>

            <div class="form-group">
                <label>Prvi pristop (Letnica)</label>
                <input id="prvi_pristop" name="prvi_pristop" type="text" class="form-control" placeholder="Prvi pristop...">
            </div>
            
            <div class="form-group">
                <label for="gorovje">Gorovje</label>
                <select class="form-control" id="gorovje" name="gorovje" required>
                    %for ime in gorovje:
                    <option>{{ime}}</option>
                    %end
                </select>
            </div>

            <div class="form-group">
                <label for="drzave">Država</label>
                <select class="form-control" id="drzave" name="drzava" required>
                    %for ime in drzave:
                    <option>{{ime}}</option>
                    %end
                </select>
            </div>

            <div class="col-4">
                <button type="submit" class="btn btn-primary">Dodaj goro</button>
            </div>

            <br>
        <a href="{{ROOT}}gore">Nazaj na gore</a>
    </div>      
</form>

