%rebase('osnovna.html', naslov='Društva')


<h2>Društva</h2>
<form>
    <div class="form-row">
        <div class="col-4">
            <input type="text" id="vnos_iskanja" class="form-control" onkeyup="funkcija_iskanja_po_tabeli()" placeholder="Išči...">
        </div>
    </div>
</form>

<table class="table table-striped" id="tabela">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Ime</th>
            <th scope="col">Število Članov</th>
            <th scope="col">Leto Ustanovitve</th>
        </tr>
    </thead>
    
    <tbody>
        %for (id, stevilo_clanov, ime, leto_ustanovitve) in drustva:
        <tr>
            <td>{{ime}}</td>
            <td>{{stevilo_clanov}}</td>
            <td>{{leto_ustanovitve}}</td>
          </tr>
        %end
    </tbody>
</table>
