%rebase('osnovna.html', naslov=naslov)


<h2>Društva</h2>
<form>
    <div class="form-row">
        <div class="col-4">
            <input type="text" id="vnos_iskanja" class="form-control" onkeyup="funkcija_iskanja_po_tabeli()" placeholder="Išči...">
        </div>
    </div>
</form>

<table class="table table-striped" id="tabela">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Ime</th>
            <th scope="col">Leto Ustanovitve</th>
        </tr>
    </thead>
    
    <tbody>
        %for (id, ime, leto_ustanovitve) in drustva:
        <tr>
            <td>
                <form action="{{ROOT}}drustva/{{ime}}" method="get">
                    <a href="#" onclick="this.parentElement.submit()">{{ime}}</a>
                </form>
            </td>
            <td>{{leto_ustanovitve}}</td>
          </tr>
        %end
    </tbody>
</table>
