% rebase('osnovna.html', naslov=naslov)

<div class="container my-4"></div>

<div class="row">
    <div class="col-4">
        <img src="/static/drustvo_logo.jpg" alt='Lep logotip' class="img-thumbnail">
    </div>
    <div class="col-8">
        <h2>{{drustvo[1]}}</h2>

        <hr>

        <h4>Leto ustanovitve: {{drustvo[2]}}</h4>

        <h4>Število članov: {{stevilo_clanov_drustvo}}</h4>

        %if najvisja[1] is None:
            <h4>Najvišji osvojen vrh: Društvo še ni osvojilo nobene gore</h4>
        %else:
            <h4>Najvišji osvojen vrh: {{najvisja[1]}} ({{najvisja[0]}}m)</h4>
        %end

        <h4>Skupno število osvojenih gora: {{vse}}</h4>
        
    </div>
</div>

<!-- Container za razmak med tabelo. -->
<div class="container my-4"></div>

<!--Tabela vseh članov-->
<div class="row">

    <table class="table table-striped" id="tabela">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Ime</th>
                <th scope="col">Priimek</th>
                <th scope="col">Spol</th>
                <th scope="col">Starost</th>
            </tr>
        </thead>
        
        <tbody>
            %for (ime, priimek, spol, starost) in clani_drustva:
                <tr>
                    <td>{{ime}}</td>
                    <td>{{priimek}}</td>
                    <td>{{spol}}</td>
                    <td>{{starost}}</td>
                </tr>
            %end
        </tbody>
    </table>

  </div>