%setdefault('user', True)
%rebase('osnovna.html', naslov=naslov, user=user)
<div class="container-fluid">
  <!--Premikajoče se slike-->
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/static/naslovnica.jpg" class="d-block w-100" width="1220" height="414.3" alt="Zdaj pa izgleda lepše!">
          <div class="carousel-caption d-none d-md-block">
            <h4>Potrebuješ oceno iz OPB?</h4>
            <p>Potem si prišel na pravo aplikacijo!</p>
          </div>
        </div>
        <div class="carousel-item">
          <a href="/pohodnistvo/registracija">
          <img src="/static/srecno_kekec.jpg" class="d-block w-100" width="1220" height="414.3"  alt="...">
          </a>
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>

  <!-- Container za razmak med slikami in besedilom. -->
  <div class="container my-4"></div>

  <!--Besedilo-->
  <div class="cotainer d-flex justify-content-center">
    <h1>Kekec je bil na vseh!</h1>
  </div>
</div>