%rebase('osnovna.html', naslov='Gore')

<h2>Gore</h2>
<form>
    <div class="form-row">
        <div class="col-4">
            <input type="text" id="vnos_iskanja" class="form-control" onkeyup="funkcija_iskanja_po_tabeli()" placeholder="Išči...">
        </div>
    </div>
</form>

<table class="table table-striped" id="tabela">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Ime</th>
            <th scope="col">Višina</th>
            <th scope="col">Gorovje</th>
            <th scope="col">Država</th>
        </tr>
    </thead>
    
    <tbody>
        %for (prvi_pristop, ime, visina, gorovje, drzava) in gore:
        <tr>
            <td>{{ime}}</td>
            <td>{{visina}}</td>
            <td>{{gorovje}}</td>
            <td>{{drzava}}</td>
          </tr>
        %end
    </tbody>

</table>

<a href="{{ROOT}}dodaj_goro">Dodaj goro</a>