%setdefault('user', True)
% rebase('osnovna.html', naslov='Osebe')

<h2>Pohodniki v mojem društvu</h2>

<form>
    <div class="form-row">
        <div class="col-4">
            <input type="text" id="vnos_iskanja" class="form-control" onkeyup="funkcija_iskanja_po_tabeli()" placeholder="Išči...">
        </div>
    </div>
</form>

<form action="{{ROOT}}osebe/uredi/{{id}}" method="GET">
    <a href="#" onclick="this.parentElement.submit()">Uredi svoj profil</a>
</form>

<table class="table table-striped" id='tabela'>
    <thead class="thead-dark">
        <tr>
            <th scope="col">Ime in Priimek</th>
            <th scope="col">Spol</th>
            <th scope="col">Starost</th>
            %if polozaj == 2:
                <th scope="col">Možnosti</th>
            %end
        </tr>
     </thead>

    <tbody>
        %for (id, ime, priimek, spol, starost) in osebe:
        <tr>
            <!-- Ime in priimek sta skupaj, zato da iskanje dela ne glede na to ali iščeš po imenu ali po priimku.-->
            <td>
                <form action="{{ROOT}}osebe/{{id}}" method="GET">
                    <a href="#" onclick="this.parentElement.submit()">{{ime + ' ' + priimek}}</a>
                </form>
            </td>
            <td>{{spol}}</td>
            <td>{{starost}}</td>
            %if polozaj == 2:
                <td>
                    <form action="{{ROOT}}osebe/uredi/{{id}}" method="GET">
                        <a href="#" onclick="this.parentElement.submit()">Uredi</a>
                    </form>
                    <form action="{{ROOT}}osebe/brisi/{{id}}" method="POST">
                        <a href="#" onclick="this.parentElement.submit()">Briši</a>
                    </form>
                </td>
            %end
        </tr>
        %end
    </tbody>
</table>