% rebase('osnovna.html', naslov=naslov)

<div class="container my-4"></div>

<div class="row">
    <div class="col-4">
        %if oseba[3] == 'Male':
        <img src="/static/man.png" alt='...' class="img-thumbnail">
        %else:
        <img src="/static/woman.png" alt='...' class="img-thumbnail">
        %end
    </div>
    <div class="col-8">
        <h2>{{oseba[1] + ' ' + oseba[2]}}</h2>

        %if oseba[3] == 'Male':
            <h4>Član: {{oseba[4]}}</h4>
        %else:
            <h4>Članica: {{oseba[5]}}</h4>
        %end

        <h4>Starost: {{oseba[4]}}</h4>

        <h4>Najvišji osvojen vrh: {{najvisji_osvojen_vrh}}</h4>

        <h4>Število osvojenih gor: {{stevilo_osvojenih_gor}}</h4>

        <h4>Skupno prehojena višina:</h4>

        <form class="col-8" action="/osebe/{{id}}/dodaj" method="get">
            <a href="#" onclick="this.parentElement.submit()">Dodaj osvojen hrib</a>
        </form>
        
    </div>
  </div>

  <!--Tabela kje vse so že bili-->
  <div class="row">

    <table class="table table-striped" id="tabela">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Ime</th>
                <th scope="col">Višina</th>
                <th scope="col">Gorovje</th>
                <th scope="col">Država</th>
            </tr>
        </thead>
        
        <tbody>
            %for i in vse_osvojene_gore:
            <tr>
                <td>{{i}}</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            %end
        </tbody>
    </table>

  </div>
