% rebase('osnovna.html', naslov=naslov)

<div class="container my-4"></div>
<div class="row">
    <div class="col-4">
        %if oseba[3] == 'Male':
        <img src="{{ROOT}}static/man.png" alt='...' class="img-thumbnail">
        %else:
        <img src="{{ROOT}}static/woman.png" alt='...' class="img-thumbnail">
        %end
    </div>
    <div class="col-8">
        <h2>{{oseba[1] + ' ' + oseba[2]}}</h2>

        <hr>

        %if oseba[3] == 'Male':
            <h4>Član: {{oseba[5]}}</h4>
        %else:
            <h4>Članica: {{oseba[5]}}</h4>
        %end

        <h4>Starost: {{oseba[4]}}</h4>

        %if najvisji_osvojen_vrh == (None, None):
            <h4>Najvišji osvojen vrh: Ni še osvojenega vrha</h4>
        %else:
            <h4>Najvišji osvojen vrh: {{najvisji_osvojen_vrh[1]}} ({{najvisji_osvojen_vrh[0]}}m)</h4>
        %end

        <h4>Število osvojenih gora: {{stevilo_osvojenih_gor}}</h4>
        %if dodaj:
            <form class="col-8" action="{{ROOT}}osebe/dodaj goro" method="GET">
                <a href="#" onclick="this.parentElement.submit()" style="font-size:20px">Dodaj osvojene gore</a>
            </form>
        %end
        
    </div>
  </div>

  <!--Tabela kje vse so že bili-->
  <div class="row">

    <table class="table table-striped" id="tabela">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Ime</th>
                <th scope="col">Višina</th>
                <th scope="col">Gorovje</th>
                <th scope="col">Država</th>
                <th scope="col">Prvi pristop</th>
            </tr>
        </thead>
        
        <tbody>
            %for (ime, visina, gorovje, drzava, leto_pristopa) in vse_osvojene_gore:
            <tr>
                <td>{{ime}}</td>
                <td>{{visina}}</td>
                <td>{{gorovje}}</td>
                <td>{{drzava}}</td>
                <td>{{leto_pristopa}}</td>
              </tr>
            %end
        </tbody>
    </table>

  </div>
