%setdefault('napaka','')
%setdefault('user', True)
%rebase('osnovna.html', naslov=naslov, napaka=napaka)

<!-- Vsebina strani -->
<form class="form d-flex justify-content-center" action="{{ROOT}}registracija" method="POST">
  <div class="col-5 justify-content-center">
    %if napaka is not None:
      <h3 style="color:red">{{napaka}}</h3><br>
    %end
  
    <h1>Registracija</h1><br>
    <h3>Dobrodošel na portalu Pohodništvo.</h3> 
    <h5>Za registracijo na portal prosim vnesi <b>ID</b> in si izmisli <b>Uporabniško ime</b> in <b>Geslo</b>, ki naj bo dolžine vsaj 5.</h5>

    <div class="form-group">      
      <label>ID</label> <br>
      <input id="identiteta" name="identiteta" type="text" class="form-control" required
        oninput="this.setCustomValidity('')"
        oninvalid="this.setCustomValidity('Uporabniško ime ni veljavno')"
      />
    </div>

    <div class="form-group">      
      <label>Uporabniško ime</label> <br>
      <input id="uporabnik" name="uporabnik" type="text" class="form-control" required
        oninput="this.setCustomValidity('')"
        oninvalid="this.setCustomValidity('Uporabniško ime ni veljavno')"
      />
      <small class="form-text text-muted">Naj ne bo vulgarno.</small>
    </div>

    <div class="form-group">
      <label>Geslo</label> <br>
      <input id="geslo" name="geslo" type="password" class="form-control" required
        oninput="this.setCustomValidity('')"
        oninvalid="this.setCustomValidity('Geslo ni veljavno')"
      />
      <br>

      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" required>
        <label class="form-check-label">Sem pohodnik!</label>
      </div>

      <button class="btn btn-primary" type="submit">
        Registracija
      </button>
    </div>
  </div>
</form>

<div class="row justify-content-center">
  <a href="{{ROOT}}prijava", font-size:px>Si že registriran? Klikni tu.</a>
</div>

